{:kotoba.app/id "cloud.itonami.isic-7722", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibybcnkkdzduyqugzislnealvsstn73ajwvmgqopgpzleewfwtaey", :kotoba.app/embed-url "ipfs://bafkreibybcnkkdzduyqugzislnealvsstn73ajwvmgqopgpzleewfwtaey", :published {:archive "https://kotobase.net/ipfs/bafkreibybcnkkdzduyqugzislnealvsstn73ajwvmgqopgpzleewfwtaey", :size 72896, :put-status 201, :get-status 200, :at "2026-08-15T13:41:30.317Z"}}
